@tailwind base;
@tailwind components;
@tailwind utilities;

body {
/* background-image: url(https://static.vecteezy.com/system/resources/previews/003/012/614/non_2x/abstract-many-golden-dots-glitter-particles-on-dark-blue-background-vector.jpg); */
background-size: contain;
background-color: #01001bf6;
color: white;
}